<%= nested_form_for(@trppdhdr) do |f| %>
  <% if @trppdhdr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trppdhdr.errors.count, "error") %> prohibited this trppdhdr from being saved:</h2>

      <ul>
      <% @trppdhdr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tgl_berlaku %><br>
    <%= f.text_field :tgl_berlaku, class: 'test' %>
  </div>
  <!-- bagian nested nya -->
  <div class="field">
    <%= f.fields_for :tr_dtl_channels do |ff| %>

      <%= ff.collection_select :ms_channel_id , MsChannel.order(:name),:id, :name, {include_blank: 'pilih channel'} %>
      <%= ff.link_to_remove do %>
        <i>Delete</i>
      <% end %>
    <% end %>

    <%= f.link_to_add :tr_dtl_channels do %>
      <i>Add</i>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

$('#')
  $(function(){
    $('.test').datepicker({dateFormat:'dd/mm/yy'});
  });
</script>
